<body layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main class="content-wrapper" layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header" style="margin-left: -20px; margin-top: -40px;">
                                <input type="button" value="Thêm thể loại" class="btn btn-primary"
                                       onclick="location.href='/type/create'">
                            </div>
                            <table class="table table-bordered table-hover" id="example2">
                                <thead>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th style="width: 318px;">Tên</th>
                                    <th>Chỉnh sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="type : ${types}">
                                    <td th:text="${type.id}"></td>
                                    <td th:text="${type.name}"></td>
                                    <td>
                                        <a th:href="@{/type/edit/{id}(id=${type.id})}" class="btn btn-sm btn-info">Chỉnh
                                            sửa</a>
                                    </td>
                                    <td>
                                        <form th:action="@{/type/delete/{id}(id=${type.id})}" method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <button type="submit" class="btn btn-primary btn-danger">Xóa</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="~{footer}"></footer>
</body>