<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en"
      layout:decorate="~{layout.html}">
<head th:insert="~{header}">
    <title>Chỉnh sửa khách hàng</title>
</head>
<body>
<main class="content-wrapper" layout:fragment="content">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Chỉnh sửa khách hàng</h3>
                            </div>
                            <form role="form" method="post" th:action="'/customer/update/' + ${customer.id}"
                                  enctype="multipart/form-data" th:object="${customer}">
                               <div class="card-body">
                                    <div class="form-group">
                                        <label>Nhập tên khách hàng</label>
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Nhập tên khách hàng" th:field="*{name}">
                                        <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập số điện thoại</label>
                                        <input type="text" class="form-control" id="phone"
                                               placeholder="Nhập số điện thoại" th:field="*{phone}">
                                        <div style="color: red;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập email</label>
                                        <input type="text" class="form-control" id="email"
                                               placeholder="Nhập email" th:field="*{email}">
                                        <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa sách này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();

            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var bookId = button.data('book-id'); // Extract info from data-* attributes

                var modal = $(this);
                modal.find('#confirmDelete').data('book-id', bookId);
            });

            $('#confirmDelete').click(function () {
                var bookId = $(this).data('book-id');
                $.ajax({
                    url: '/book/delete/' + bookId,
                    type: 'DELETE',
                    success: function (result) {
                        // Handle success
                        window.location.reload();
                    },
                    error: function (error) {
                        // Handle error
                        console.error('Error deleting book:', error);
                    }
                });
            });
        });
    </script>
</main>
<footer th:insert="~{footer}"></footer>
</body>
</html>