<body layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main class="content-wrapper" layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form action="#" method="get" th:action="@{/customer/search}">
                            <div class="card-header">
                                <h3 class="card-title">Kết quả tìm kiếm</h3>
                                <div class="card-tools" style="margin-right: 1px;">
                                    <div class="input-group input-group-sm" style="width: 200px;">
                                        <input type="text" name="keyword" class="form-control float-right"
                                               placeholder="Tìm kiếm">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="card-body">
                            <div class="card-header" style="margin-left: -20px; margin-top: -40px;">
                                <input type="button" value="Thêm khách hàng" class="btn btn-primary"
                                       onclick="location.href='/customer/create'">
                            </div>
                            <table class="table table-bordered table-hover" id="example2">
                                <thead>
                                <tr>
                                    <th style="width: 10px">STT</th>
                                    <th style="width: 318px;">Tên khách hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.id}"></td>
                                    <td th:text="${customer.name}"></td>
                                    <td th:text="${customer.phone}"></td>
                                    <td th:text="${customer.email}"></td>
                                    <td>
                                        <a th:href="@{/customer/edit/{id}(id=${customer.id})}" class="btn btn-sm btn-info">Chỉnh
                                            sửa</a>
                                    </td>
                                    <td>
                                        <form th:action="@{/customer/delete/{id}(id=${customer.id})}" method="post">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <button type="submit" class="btn btn-primary btn-danger">Xóa</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="~{footer}"></footer>
</body>